@font-face {
    font-family: "arial";
    src: url('fonts/ArialMTPro-Regular.otf');
}

@font-face {
    font-family: "robotob";
    src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: "myLotus";
    src: url('fonts/Roboto-Medium.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: "arial";
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}


/*Style For scalling*/

.theme1 .mPlayer {
    width: 1024px;
    height: 768px;
    position: absolute;
}

@media screen and (min-width:0\0) {
    .theme1 .printIE {
        transform: scale(1) !important;
    }
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.theme1 .mRegion {
    width: 100%;
    height: 100%;
    position: relative;
}

.theme1 .defaultActivityStyle {
    width: 100%;
    height: 100%;
    position: absolute;
}

.theme1 .screenHolderStyle {
    width: 100%;
    height: 100%;
    position: relative;
}

.theme1 .screenBlocker {
    width: 100%;
    height: 100%;
    display: block;
}

.theme1 .headerStyle {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0px;
    /*background-color: blue;*/
}

.theme1 .footerStyle {
    position: relative;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.orange .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.pink .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.chrome_yellow .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.brown .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.green .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.yellowgreen .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.red .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.purple .activityStyle {
    position: relative;
    width: 100%;
    height: 668px;
    /* border-left: 2px solid #009899;
    border-right: 2px solid #009899; */
}

.purple1 .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.cyan .activityStyle {
    position: relative;
    width: 100%;
    height: 652px;
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.questionContainer {
   width: 914px;
    margin: 0px auto 21px auto;
    height: 100px;
    font-size: 22.5px;
    color: #ffffff;
    position: absolute;
    text-align: left;
    font-family: "arial";
    display: table;
}

.questionContainer1 {
    width: 914px;
    margin: 0px auto 21px auto;
    height: 185px;
    font-size: 22.5px;
    color: #ffffff;
    position: absolute;
    text-align: left;
    font-family: "arial";
}


.headingprag {
    font-size: 35px;
    color: #ffffff;
    position: relative;
    text-align: left;
    font-family: "arial";
    opacity: 1!important;
    display: table-cell;
    left: 28px;
    vertical-align: middle;
}

.headingprag1 {
    font-size: 35px;
    color: #ffffff;
    position: relative;
    text-align: left;
    font-family: "arial";
    opacity: 1 !important;
    left: 82px;
    top: 28px !important;
}

.prag {
    font-size: 23px;
    font-family: "arial";
    position: relative;
    width: auto;
    width: 850px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.prag1 {
    font-size: 23px;
    font-family: "arial";
    position: relative;
    width: auto;
    width: 850px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.pearsonlogo {
    width: 145px;
    height: 60px;
    position: absolute;
    top: 37px;
    right: 82px;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/matching/OE_Logo.png");
}


.red #contentArea {
    width: 974px;
    min-height: 40px;
    position: absolute;
    top: 242px !important;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 18px;
}

.cyan #contentArea {
    width: 974px;
    min-height: 40px;
    position: absolute;
    top: 292px !important;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 18px;
}

.contentArea {
    background-color: #73C3F8;
}

.cyan .contentArea {
    background-color: #73C3F8;
}

#startButton {
    cursor: pointer;
    color: #FFFFFF;
    margin: auto;
    position: absolute;
    right: 110px;
    top: 497px;
    width: 139px;
    height: 139px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #ff5722;
    border-radius: 50%;
    background-image: url("../images/matching/Launch_Start.png");
    box-shadow: 0px 2.5px 2.5px 0px rgba(86, 86, 86, 0.5);
}

.brown #startButton {
    cursor: pointer;
    color: #FFFFFF;
    margin: auto;
    position: absolute;
    right: 110px;
    top: 497px;
    width: 139px;
    height: 139px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #ff5722;
    border-radius: 50%;
    background-image: url("../images/matching/Launch_Start.png");
    box-shadow: 0px 3.5px 4.5px 0px rgba(53, 53, 53, .3);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

#startButton:hover {
    background-color: rgb(255, 103, 56);
    box-shadow: 0px 4px 5px 0px rgba(53, 53, 53, .7);
}

.purple #startButton {
    background-color: #ea067e;
}

.purple #startButton:hover {
    background-color: #f431a1;
}

.purple1 #startButton {
    background-color: #ea067e;
}

.purple1 #startButton:hover {
    background-color: #f431a1;
}

#templateName {
    width: 668px;
    height: 458px;
    top: 38px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    background-image: url("../images/matching/Topimage_Launch.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.templateName1 {
    line-height: 188px;
}

.templateName2 {
    line-height: 60px;
    padding: 36px;
}

#workArea {
    position: absolute;
    width: 100%;
    height: 467px;
    top: 185px;
    left: 0px;
}

.workArea {
    height: 475px !important;
}


/*BLUE THEAME START HERE  */

.blue .mPlayer {
    /*background-image: url("../images/blue/activityArea.png");*/
}

.blue .mPlayer.start {
    /* background-image: url("../images/blue/start.png");*/
}


/*BLUE THEAME END END*/


/*BROWN THEAME START HERE  */


/*.brown .mPlayer {
    background-image: url("../images/brown/activityArea.png");
}*/

.brown .mPlayer.start {
    /* background-image: url("../images/brown/start.png");*/
}


/*BROWN THEAME END HERE  */


/*GREEN THEAME START HERE  */


/*.green .mPlayer {
	background-image: url("../images/green/activityArea.png");
}*/

.green .mPlayer.start {
    /* background-image: url("../images/green/start.png");*/
}

.green .contentArea {
    background-color: #fff;
}

.green .footerStyle .contentArea {
    background-color: #73C3F8;
}

.green .activityStyle {
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}

.green .headingprag {
    width: 480px;
}

.green .prag {
    left: -265px;
    color: white;
}

.red .prag {
    left: -142px;
    color: white;
}


/*GREEN THEAME END HERE  */


/*ORANGE THEAME START HERE  */


/*.orange .mPlayer {
	background-image: url("../images/orange/activityArea.png");
}*/

.orange .mPlayer.start {
    /* background-image: url("../images/orange/start.png");*/
}

.orange #startButton {
    z-index: 1;
    background-color: #007fa3;
}

.orange #startButton:hover {
    z-index: 1;
    background-color: #008bb1;
}

.orange .contentArea {
    background-color: #73C3F8;
}

.orange .headingprag {
    width: 560px;
}

.orange .prag {
    left: 0px;
}


/*ORANGE THEAME END HERE  */


/*PINK THEAME START HERE  */


/*.pink .mPlayer {
	background-image: url("../images/pink/activityArea.png");
}*/

.pink .mPlayer.start {
    /* background-image: url("../images/pink/start.png");*/
}

.pink #startButton {
    z-index: 1;
    background-color: #e29e07;
}

.pink #startButton:hover {
    z-index: 1;
    background-color: #f4b12a;
}

.pink .contentArea {
    background-color: #73c3f8;
}

.pink .headingprag1 {
    width: 480px;
}

.pink .prag1 {
    left: 85px;
}


/*PINK THEAME END HERE  */


/*CHROME_YELLOW THEAME START HERE  */


/*.chrome_yellow .mPlayer {
	background-image: url("../images/pink/activityArea.png");
}*/

.chrome_yellow .mPlayer.start {
    /* background-image: url("../images/pink/start.png");*/
}

.chrome_yellow #startButton {
    z-index: 1;
    background-color: #00aeef;
}

.chrome_yellow #startButton:hover {
    z-index: 1;
    background-color: #00c3ff;
}

.chrome_yellow .contentArea {
    background-color: #73C3F8;
}

.chrome_yellow .headingprag1 {
    width: 480px;
}

.chrome_yellow .prag1 {
    left: 85px;
}


/*CHROME_YELLOW THEAME END HERE  */


/*YELLOW_GREEN THEAME START HERE  */


/*.pink .mPlayer {
	background-image: url("../images/pink/activityArea.png");
}*/

.yellowgreen .mPlayer.start {
    /* background-image: url("../images/pink/start.png");*/
}

.yellowgreen #startButton {
    z-index: 1;
    background-color: #ff5722;
}

.yellowgreen #startButton:hover {
    z-index: 1;
    background-color: #ff6633;
}

.yellowgreen .contentArea {
    background-color: #73C3F8;
}

.yellowgreen .headingprag1 {
    width: 480px;
}

.yellowgreen .prag1 {
    left: 85px;
}


/*YELLOW_GREEN THEAME END HERE  */


/*PURPLE THEAME START HERE  */

.purple .headingprag {
    width: 595px;
}

.purple .prag {
    left: 0px;
    color: black;
}

.purple .prag1 {
    right: 0px;
    color: white;
}


/*.purple .mPlayer {
	background-image: url("../images/purple/activityArea.png");
}*/

.purple .headingprag {
    width: 595px;
}

.purple .prag {
    left: 0px;
    color: black;
}

.purple .prag1 {
    right: 0px;
    color: white;
}


/*.purple .mPlayer {
	background-image: url("../images/purple/activityArea.png");
}*/

.purple .mPlayer.start {
    /* background-image: url("../images/purple/start.png");*/
}

.purple .contentArea {
    background-color: #fff;
}

.purple .footerStyle .contentArea {
    width: 100%;
    height: 100%;
    background-color: #009899;
}

/* .purple .activityStyle {
    border-left: 2px solid #009899;
    border-right: 2px solid #009899;
} */

/*PURPLE THEAME END HERE  */


/*YELLOW THEAME START HERE  */


/*.yellow .mPlayer {
    background-image: url("../images/yellow/activityArea.png");
}*/

.yellow .mPlayer.start {
    background-image: url("../images/yellow/start.png");
}


/*YELLOW THEAME STOP HERE  */


/*RED THEME START HERE  */

.red .contentArea {
    background-color: #73C3F8;
}


/*CYAN THEME START HERE  */

.cyan #startButton {
    z-index: 1;
    background-color: #005a70;
}

.cyan #startButton:hover {
    z-index: 1;
    background-color: #05869b;
}

.cyan .headingprag {
    width: 670px;
}

.cyan .prag1 {
    left: 85px;
}


/*CYAN THEME END HERE  */

.activityArea .contentArea {
    background-color: #ffffff;
}

#submitButton,
#tryAgainBtn {
    font-family: robotob !important;
    font-size: 23px !important;
}
#printBtn
{
    display: none !important;
}

#nextBtn,
#backBtn,
#printBtn,
#resetBtn {
    font-family: myLotus !important;
    font-size: 18px !important;
}


/*PURPLE1 THEAME START HERE  */

.purple1 .headingprag {
    width: 595px;
}

.purple1 .prag {
    left: 0px;
    color: black;
}

.purple1 .prag1 {
    right: 0px;
    color: white;
}


/*.purple .mPlayer {
	background-image: url("../images/purple/activityArea.png");
}*/

.purple1 .mPlayer.start {
    /* background-image: url("../images/purple/start.png");*/
}

.purple1 .contentArea {
    background-color: #fff;
}

.purple1 .footerStyle .contentArea {
    background-color: #73C3F8;
}

.purple1 .activityStyle {
    border-left: 2px solid #73C3F8;
    border-right: 2px solid #73C3F8;
}


/*PURPLE1 THEAME END HERE  */