.screenArea {
    width: 100%;
    height: 100%;
    top: 0px;
}

.wrapper-indexScreen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.checkBoxRows {
    width: 900px;
    /* height: 45px;*/
    margin: 0 auto;
    margin-bottom: -15px;
    text-align: left;
    /*display: inline-flex;*/
}


/*
#contentArea {
    width: 835px;
    height: 300px;
    top: 35px;
    left: 36px;
    right: 0px;
}
*/

label {
    padding: 0px;
    margin: 0px;
}

.checkBox {
    line-height: 45px;
    font-size: 25px;
    padding-left: 20px;
    cursor: pointer;
    padding-right: 20px;
    text-align: left;
    margin-left: 47px;
    position: relative;
    top: -38px;
}
.checkBox::after
{
    content: '';
    background: url('../assets/images/blue.png');
    width: 19px;
    height: 19px;
    position:absolute;
    top:15px;
    left:-18px;
    visibility: hidden;
}
.checkBoxSelected .checkBox::after{
    visibility: visible;
}
.inCorrectAns::after{
    background: url('../assets/images/red.png');
}
.correctAns::after{
    background: url('../assets/images/green.png');
}

input[type=checkbox] {
    display: none;
}

.activityArea {
    visibility: visible !important;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    /*display: none;*/
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}

label:hover {}

.checkBoxSelected label {
    /*  background-image: url('../assets/images/hover.png');
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #84d0f2;
}

.checkBoxSelected label.correctAns {
    /*background-image: url('../assets/images/right.png');*/
    background-color: #a8ffa8;
}

.checkBoxSelected label.inCorrectAns {
    /*background-image: url('../assets/images/wrong.png');*/
    background-color: #fb535e;
}

/* .newClass {
    content: '';
    display: block;
    left: 100%;
    width: 19px;
    height: 19px;
    margin-top: 17px;
    visibility: hidden;
    margin-left: 28px;
    background-image: url('../assets/images/blue.png');
} */

.checkBoxImg {
    width: 21px;
    height: 21px;
    float: left;
    cursor: pointer;
    margin-top: 9px;
    border: 2px solid;
    border-radius: 20px;
    position: absolute;
    margin-top: 14px;
}

.checkBoxSelected .checkBoxImg {
    background-image: url('../assets/images/radio.png');
    height: 21px;
    width: 21px;
    box-shadow: 0 0 0 8px #fff;
    border: 0px solid;
    margin-top: 14px;
}

#workArea {
    position: absolute;
    width: 100%;
    height: 510px;
    top: 102px;
    left: 0px;
    overflow-y: auto;
}

#contentArea {
    height: 300px;
    /*  position: absolute;*/
    width: 100%;
    margin-top: 70px;
    font-size: 68px;
}


/*.correctAns {
    background-image: url('../assets/images/right.png');
}

.inCorrectAns {
    background-image: url('../assets/images/wrong.png');
}*/

.disableClick {
    pointer-events: none;
    cursor: default;
}

.prag {
    top: 40px !important;
    width: 900px !important;
}


/*iPhone 6+ landscape*/

@media only screen and (min-device-width: 310px) and (max-device-width: 736px) and (orientation: landscape) {
    .prag {
        font-size: 32px;
    }
    .checkBox {
        font-size: 32px;
    }
}

@media only screen and (min-device-width: 310px) and (max-device-width: 736px) {
    .prag {
        font-size: 32px;
    }
    .checkBox {
        font-size: 32px;
    }
}

.img-show .imagepopup{
    display: none !important;
    }
    img.imagepopup {
        width: 55px;
        height: 55px;
        cursor: pointer;
        margin: 0 auto;
        background-color: #33495B;
        border-radius: 50%;
        background-image: url(../../mmcq/images/media.png);position:absolute;
        background-position: center;
        background-size: 80% 80%;
        background-repeat: no-repeat;
    }
    
    .imageCont {
        width: 55px;
        height: 55px;
        top: 105px;
        left: 928px;
        bottom: 0px;
        margin: 0 auto;
        margin-top: 0px;
        position: absolute;
        z-index: 999;
        background-color: #33495B;
        border-radius: 50%;
        background-image: url(../../mmcq/images/media.png);position:absolute;
        background-position: center;
        background-size: 80% 80%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .imageAlign {
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        cursor: pointer;
        display:none;
    }
    .show1 {
        z-index: 999;
        display: none;
    }
    
    .show1 .overlay {
        width: 1020px;
        height: 768px;
        background: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .img-show img{
        position: absolute;
top: 0;
left: 0;
display: block !important;
right: 0;
bottom: 0;
margin: auto;
z-index: 9999;
    }