@font-face{
	font-family:myFont;
	
   src: url('fonts/HarmoniaSansW01-Regular.eot');
    src: url('fonts/HarmoniaSansW01-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/HarmoniaSansW01-Regular.woff2') format('woff2'),
        url('fonts/HarmoniaSansW01-Regular.woff') format('woff'),
        url('fonts/Harmonia Sans W01 Regular.otf') format('truetype'),
        url('fonts/Harmonia Sans W01 Regular.ttf') format('truetype'),
        url('fonts/HarmoniaSansW01-Regular.svg#HarmoniaSansW01-Regular') format('svg');
        
    font-weight: 300;
    font-style: normal;
	
}
@font-face{
	font-family:myFont-bold;
	src: url('fonts/HarmoniaSansW01-Bold.eot');
    src: url('fonts/HarmoniaSansW01-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HarmoniaSansW01-Bold.woff2') format('woff2'),
        url('fonts/HarmoniaSansW01-Bold.woff') format('woff'),
        url('fonts/HarmoniaSansW01-Bold.svg#HarmoniaSansW01-Bold') format('svg'),
  
        url('fonts/Harmonia Sans W01 Bold.otf') format('truetype'),
        url('fonts/Harmonia Sans W01 Bold.ttf') format('truetype');
        
    font-weight: 300;
    font-style: normal;
	
}
.rap{
    white-space: nowrap;
}


body{
	font-family:myFont !important;
	font-size:2.5em;
}
.title{
	font-family:myFont-bold !important;
	font-size:1.5em;
}
#yorkdiv{
	background-color:#F0F5E4;
	padding:5px !important;
	margin:0;
}
#boxed {
    border: 8px solid #5686c2;
    padding: 10px;
    background-color: white;
}
#yorkdiv p {
	margin:0 !important;
}
/* MUSA */
#yorkdiv img{
		height:80px !important;
	}
#yorkdiv img:last-child {height:65px !important;}

.parag
{
    margin: auto;
    background-color: #c4daf1;
    padding: 40px;
    
    
}
/* MUSA */
#box_1 {
            border: 3px solid #de841b;
            width: 100%;
            height: 35;
            border-radius: 5px;
            padding: .5em;
            background-color: #ccd1e9;
        }
#box_2 {
            border: 3px solid #de841b;
            width: 100%;
            height: 35;
            border-radius: 5px;
            padding: .5em;
            background-color: #ecf4dd;
            
        }
#box_3 {
            border: 3px solid #204b83;
            width: 100%;
            height: 35;
            border-radius: 5px;
            padding: .5em;
            background-color: #3773c1;
     color: aliceblue
        }
.labelss{
	display: inline-block;
	padding: 0 54px;
}
/* MUSA */
ol_ {list-style: none; counter-reset: li}
 ol_ li::before {content: counter(li); color: #333333;
     font-weight: bold;
    display: inline-block; width: 1em; margin-left: -1.5em;
    margin-right: 0.5em; text-align: right; direction: rtl}
    li {counter-increment: li}


#boxStyle {
            border: 3px solid #81b3cd;
            width: 100%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #b9e5fb;
	font-weight: bold;


        }
#boxStyle1 {
            border: 3px solid #907f52;
            width: 100%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #fff0c7;
        }
#boxStyle2 {
            border: 3px solid #ed1c24;
            width: 100%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #fff;
        }

#boxStylefocus {
            border: 3px solid #d5b9c6;
            width: fit-content;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #f4d59c;
        }
#boxStylefocus2 {
            border: 3px solid #8b2e55;
            width: 100%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #d5b9c6;
        }
#boxStylefocus3 {
            border: 3px solid #d5b9c6;
            width: fit-content;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #8b2e55;
        }

#gBox {
            border: none;
            width: 70%;
            height: auto; 
            padding: .5em;
            background-color: #b5d994;
	color: #166c31;
	/*text-align: justify;*/
	
        }
#gBox2 {
            border: none;
           color: white;
            height: 150%; 
           
            background-color:#509f41;
	margin: -6px;
	text-align: center;
	font-weight: bold;
	
	
        }
.bull::before {
      content: "";
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 21px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 8px;
}
.bulla::before {
    content: "a.";
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 30px;
    margin-left: -23px;
}
.bullb::before {
    content: "b.";
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 30px;
    margin-left: -23px;
}
.bull1::before {
      content: "1";
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 21px;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 8px;
}

/*-- MUSA */

body{
	margin:0px;
	overflow-x: hidden;
}
.num-2{
	font-family: 'Aref Ruqaa', serif;
	
}


.fraction {
  display: inline-flex;
  flex-direction: column;
  align-items: middle;
  vertical-align: middle;
	text-align: center;
	line-height: 1.1em;
 
  

}

/*.numerator {
  border-bottom: 2px solid;
  vertical-align: middle;
	
}*/

.denominator {
  border-top: 2px solid;
padding-top: 2%;
 
vertical-align:text-bottom;
	
}




.radical {
    position: relative;

    vertical-align: middle;
}
.n-root {
    position: absolute;
    top: -0.333em;
    left: 0.333em;
 
}
.radicand { 
    padding-top: -6px;
    border-top:  solid;
}
.intsuma {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
	margin-left: -1.0ex;
	margin-bottom: 0.5ex;
}
.intsuma > span {
    display: block;
   
}
.lim-up {
    margin-bottom: -2.5ex;
	margin-left: 3.0ex;
}
.lim {
    margin-top: -3.5ex;
	margin-left: 3.0ex;
}
.intsuma .sum {
 
    font-weight: lighter;
}
.intsuma .sum-frac {
  
    font-weight: 100;
}

.cst {
  position: relative;
}

.cst:after {
  position: absolute;
  content: url('../assets/images/int.png');
  right: 0%;
  
  top: 11%;
  right: 1px;
  border-top: 1px;
  border-color: inherit;
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-1deg);
}
.global-marginbottom {
  margin-bottom: 24px; }
  
.box{
	width:800px;
	height:200px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
	
}
 
.red{
	background:#f00;
}
.green{
	background:#ebf4e8;
	stroke: black;
	stroke-width:5;
	opacity:0.5;
	
}
.blue{
	background:#00f;
}

.custom-navbar {
  border-radius: 0px;
  border: none;
  padding-bottom: 20px;
  margin-bottom: 24px; }
  .box-shadow-unset{
  -moz-box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
  -ms-box-shadow: unset !important;
  box-shadow: unset !important;
  }
  .strand-navbar .custom-navbar {
	  z-index: 99999999;
    background-color: #2c3e50; }
  .custom-navbar .fontsize-42 {
      font-size: 42px;
 }
  .custom-navbar .header-text {
    width: 100%; }
    .custom-navbar .header-text p {
      color: #fff;
      
      /*! font-weight: bold; */
      margin-top: 24px;
      margin-bottom: 24px; }
  .custom-navbar .navContainer {
    width: 100%;
    float: left;
    text-align: center; }
    .custom-navbar .navContainer .strand-navigation-menu {
      padding: 0;
      text-align: center;
      display: inline-block;
      width: auto;
      border-radius: 7px;
      float: none; }
      .strand-navbar .custom-navbar .navContainer .strand-navigation-menu {
        background-color: #009999; }
/*-- MUSA */
      .custom-navbar .navContainer .strand-navigation-menu li {
        display: inline-block;
        float: left;
        width: auto;
       padding:10px;}
        .strand-navbar .custom-navbar .navContainer .strand-navigation-menu li:hover {
          background-color: #18bc9c; 
            z-index: 9999;
			
			
            
}
/*-- MUSA */

        .custom-navbar .navContainer .strand-navigation-menu li:first-child {
          -webkit-border-top-left-radius: 7px;
          -moz-border-top-left-radius: 7px;
          -ms-border-top-left-radius: 7px;
          -o-border-top-left-radius: 7px;
          border-top-left-radius: 7px;
          -webkit-border-bottom-left-radius: 7px;
          -moz-border-bottom-left-radius: 7px;
          -ms-border-bottom-left-radius: 7px;
          -o-border-bottom-left-radius: 7px;
          border-bottom-left-radius: 7px; }
        .custom-navbar .navContainer .strand-navigation-menu li:last-child {
          -webkit-border-top-right-radius: 7px;
          -moz-border-top-right-radius: 7px;
          -ms-border-top-right-radius: 7px;
          -o-border-top-right-radius: 7px;
          border-top-right-radius: 7px;
          -webkit-border-bottom-right-radius: 7px;
          -moz-border-bottom-right-radius: 7px;
          -ms-border-bottom-right-radius: 7px;
          -o-border-bottom-right-radius: 7px;
          border-bottom-right-radius: 7px; }
        .custom-navbar .navContainer .strand-navigation-menu li a {
          color: #FFFFFF;
         
}
      .custom-navbar .navContainer .strand-navigation-menu .active-menu {
        display: inline-block;
        float: left;
        width: auto; }
        .strand-navbar .custom-navbar .navContainer .strand-navigation-menu .active-menu {
          background-color: #18bc9c; 
			
		
}


/* .header-top-margin {
  margin-top: 231px; } */

.header-bottom-text {
  width: 100%;
  height: 70px;
  background-color: #18bc9c;
  color: #fff;
  display: table;
  /*line-height: 75px;*/ }

.footer-bottom-text {
  height: auto;
  padding-top: 50px;
  }
  .strand-navbar .footer-bottom-text {
    background-color: #2c3e50; }
  .footer-bottom-text p {
    color: #fff;

    /*! font-weight: bold; */
    margin: 0; }
  .footer-bottom-text .fontsize-20 {
    font-size: 25px; }

.main-container .padding-left-right-24 {
  padding: 24px; }
.main-container .padding0 {
  padding: 0; }
.main-container .margin0 {
  margin: 0; }
.main-container .marginbottom-24 {
  margin-bottom: 24px; }
.main-container .margin-top-24 {
  margin-top: 24px; }
.main-container .header-fontsize-30 {
  font-size: 30px; }
.main-container .fontsize-40 {
  font-size: 40px; }
.main-container .fontsize-38 {
  font-size: 38px; }
.main-container .fontsize-36 {
   }
.main-container .myLoutsBold {
 }
.main-container .margin-top-minus24 {
  margin-top: -24px !important; }
.main-container .margin-bottom-minus0 {
  margin-bottom: 0px !important;
  padding: 5px !important;  }
.main-container .p-tag-text-alignment {
  display: table-cell;
  vertical-align: middle; }
.main-container .section-contant {
  margin: 0 auto; }
  .main-container .section-contant .three-column-img {
    background-color: #F0F5E4; }
  .main-container .section-contant #myCarousel .carousel-inner img {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto; }
  .main-container .section-contant .section-text {
    height: auto;
    padding: 48px;
    background-color: #F0F5E4;
    margin-bottom: 24px; }
    .main-container .section-contant .section-text p {
    
      font-variant-ligatures: none; }
    .main-container .section-contant .section-text .smImg-lgtext {
      float: left;
      margin-right: 24px;
      position: relative;
      width: 335px;
      height: auto; }
    .main-container .section-contant .section-text .right-smImg-lgtext {
      float: right;
      margin-left: 24px;
      position: relative;
      width: 335px;
      height: auto; }
  .main-container .section-contant .img-handler {
    position: relative; }
    .main-container .section-contant .img-handler img {
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); }
    .main-container .section-contant .img-handler:hover .zoomiconimg {
      display: block; }
    .main-container .section-contant .img-handler .zoomiconimg {
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer; }
      .main-container .section-contant .img-handler .zoomiconimg img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
  .main-container .section-contant .img-text {
    margin-top: 14px;
 
    margin-bottom: 0px; }


.modal-body img {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); }


@media only screen and (max-width: 670px) {
	body{
		font-size:2em;
	}
	
  .custom-navbar .fontsize-42 {
      font-size: 25px;
   }

  .navbar-nav {
    margin: 0 !important; }

  /*.custom-navbar .navContainer .strand-navigation-menu li {
      height: 40px !important;
  }*/
  /* added 14-7-17 */
  .navbar-nav > li > a {
    padding-top: 0px;
    /* padding-bottom: 15px; */ }

  /*.nav > li > a {
      padding: 0px 15px;
  }*/
  .custom-navbar .header-text p {
    margin-top: 10px;
    margin-bottom: 10px; }

  .modal-header .close {
    top: 25px;
    left: 22px; }

  .modal-dialog {
    max-width: none !important; }

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    margin-bottom: 24px; } }

#objStyle {
            border: 3px solid #7C0D0E;
            width: 100%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #f2e6e6;


        }

@media only screen and (max-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px; } }
/* Extra Small Devices, Phones */
/*-- MUSA */
  li {
        
        }


@media only screen and (max-width: 480px) {
     ol {margin-left: -1.5em;}
     ul {margin-left: -1.5em;}
    .pad{
        
        padding-left: 20px;
    }
	.labelss{
	display: inline-block;
	padding: 0 8px;
}
	#boxStylefocus3 {
            border: 3px solid #d5b9c6;
            width: 100%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #8b2e55;
        }
	
    #boxStylefocus {
            border: 3px solid #d5b9c6;
            width: 95%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #8b2e55;
        } 
	#boxStylefocusSounds {
            border: 3px solid #d5b9c6;
            width: 100%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #e05f27;
        } 
	
	#gBox {
            border: none;
            width: 100%;
            height: auto; 
            padding: .5em;
            background-color: #b5d994;
	color: #166c31;
	/*text-align: justify;*/
	
        }
	 li {
     
        }
    
    ol {margin-left: -1.6em;}
	#boxStyle {
            border: 3px solid #81b3cd;
            width: 95%;
            height: 35;
            border-radius: 20px;
            padding: .5em;
            background-color: #b9e5fb;


        }
	
	
	.main-container .section-contant .section-text {
    height: auto;
    padding: 20px;
    background-color: #F0F5E4;
    margin-bottom: 24px; }
	/*-- MUSA */
	.btn-vis2 {
            display: inline;
            height: 30px;
            width: 110px;
            position: relative;
            top: 0px;

        }
	
    .rotate {
    position: relative;
    top: 80px;
    width: 294%;
    right: 49px;

    font-weight: normal;
    color: #fff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
    .rotate2 {
    position: relative;
    right: 227px;
    top: 0px;
}
 
  .custom-navbar .navContainer .strand-navigation-menu {
    width: 91% !important; }

  .custom-navbar .navContainer .strand-navigation-menu > li {
    width: 100% !important; }

  .custom-navbar .header-text {
    margin: 0; }

  .strand-navbar .strand-navigation-menu li:hover {
    background-color: #18bc9c; 
	
	}
  .strand-navigation-menu li:first-child {
    -webkit-border-top-left-radius: 7px !important;
    -moz-border-top-left-radius: 7px !important;
    -ms-border-top-left-radius: 7px !important;
    -o-border-top-left-radius: 7px !important;
    border-top-left-radius: 7px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-bottom-left-radius: 0 !important;
    -ms-border-bottom-left-radius: 0 !important;
    -o-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    -webkit-border-top-right-radius: 7px !important;
    -moz-border-top-right-radius: 7px !important;
    -ms-border-top-right-radius: 7px !important;
    -o-border-top-right-radius: 7px !important;
    border-top-right-radius: 7px !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -moz-border-bottom-right-radius: 0 !important;
    -ms-border-bottom-right-radius: 0 !important;
    -o-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important; }
  .strand-navigation-menu li:last-child {
    -webkit-border-top-left-radius: 0 !important;
    -moz-border-top-left-radius: 0 !important;
    -ms-border-top-left-radius: 0 !important;
    -o-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-border-bottom-left-radius: 7px !important;
    -moz-border-bottom-left-radius: 7px !important;
    -ms-border-bottom-left-radius: 7px !important;
    -o-border-bottom-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    -webkit-border-top-right-radius: 0 !important;
    -moz-border-top-right-radius: 0 !important;
    -ms-border-top-right-radius: 0 !important;
    -o-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 7px !important;
    -moz-border-bottom-right-radius: 7px !important;
    -ms-border-bottom-right-radius: 7px !important;
    -o-border-bottom-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important; }

  .header-bottom-text {

    /*margin-top: 264px !important;*/ }
	
	
p {
    }
	.cst:after {
	  content: url('../assets/images/int_480.png');
	}
	.eq-img:after {
	  content: url('../assets/images/5_1.png');
	}

  .main-container .section-contant .section-text .smImg-lgtext {
    float: left;
    position: relative;
    width: 100%;
    margin-right: 0; }

  .main-container .section-contant .section-text p {
 }

  .main-container .section-contant .img-text {
   }

  p {
   }

  /* 
  .header-top-margin {
    margin-top: 260px; } */
.custom-navbar .navContainer .strand-navigation-menu li {
    height: 40px !important; }

  .navbar-nav > li > a {
    padding-top: 0px !important;
    /*padding-bottom: 10px;
    line-height: 20px;*/ }	}
/* Modal close button css for the top root element */
.modal-header button{
	left: 20px !important;
}
.ekko-lightbox-item
{
	background: none !important;
}
.modal-header button > span {
}

/*# sourceMappingURL=app.css.map */


/*# sourceMappingURL=app.css.map */



sup.vector
{
position: relative;
font-size: 85%;
line-height: 0;
vertical-align: baseline;
margin-left: -16px;
top: -20px;
}
sup.vector33
{
position: relative;
font-size: 140%;
line-height: 0;
vertical-align: baseline;
margin-left: -31px;
top: -20px;
}
sup.vector1 
{
position: relative;
font-size: 85%;
line-height: 0;
vertical-align: baseline;
margin-left: -21px;
top: -12px;
}
sup.vector2
{
position: relative;
font-size: 85%;
line-height: 0;
vertical-align: baseline;
margin-left: -20px;
top: -22px;
}
.sup1
{
position: relative;
right: 22px;
top: -17px;
}

@media only screen and (max-width:480px) {
    .footer-bottom-text {
  height: auto;
  padding-top: 30px;
  }
sup.vector
{
position: relative;
font-size: 85%;
line-height: 0;
vertical-align: baseline;
margin-left: -13px;
top: -12px;
}
sup.vector33
{
position: relative;
font-size: 140%;
line-height: 0;
vertical-align: baseline;
margin-left: -26px;
top: -12px;
}    
sup.vector1 
{
position: relative;
font-size: 85%;
line-height: 0;
vertical-align: baseline;
margin-left: -10px;
top: -8px;
}
sup.vector2 
{
position: relative;
font-size: 85%;
line-height: 0;
vertical-align: baseline;
margin-left: -11px;
top: -12px;
}
.sup1
{
position: relative;
right: 12px;
top: -8px;
}

}

.move{
        margin-left: 92px
    }

@media only screen and (min-width: 375px) and (max-width: 767px) {
    
    .move{
        margin-left: 48px
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .move{
        margin-left: 93px
    }
}