<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="668">
	<circle id="orbit1v" stroke-dasharray="5,5" cx="105" cy="302" r="70"></circle>
	<circle id="orbit1" cx="105" cy="302" r="70" class="hitArea"></circle>
	
	<circle id="orbit2v" stroke-dasharray="5,5" cx="105" cy="302" r="300" ></circle>
	<circle id="orbit2" cx="105" cy="302" r="300" class="hitArea"></circle>
	
	<circle id="orbit3v" stroke-dasharray="5,5" cx="105" cy="302" r="585" ></circle>
	<circle id="orbit3" cx="105" cy="302" r="585" class="hitArea"></circle>
	
	<circle id="orbit4v" stroke-dasharray="5,5" cx="105" cy="302" r="880" ></circle>
	<circle id="orbit4" cx="105" cy="302" r="880" class="hitArea"></circle>
	      		
</svg>
		